<div class='design'>
  <div id="header">
    <div class="container">
      <div>
        <h3 class='logo'>Coloristic</h3>
      </div>
      <ul class="nav">
        <li><a ui-sref="home" >Home</a></li>
        <li><a ui-sref="userDetails">User-Info</a></li>
        <li><a ui-sref="productDetails">Products</a></li>
        <li><a ui-sref="AddRemProd">Cart</a></li>
        <li><a >Contact</a></li>
        <li><a ui-sref="login">Signout</a></li>
      </ul>
    </div>
    <div class="container">
      <div class='abc'>
        <h1>MAKE THINGS HAPPEN</h1>
      </div>
      <div>
        <img class='img' src="../styles/assets/laptop-frame-png-2.png">
      </div>
    </div>
  </div>
  <div id='center'>
    <div class="container">
      <div class="card ">
        <img src="../styles/assets/2111644.svg">
        <h3>Flat Design</h3>
        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Lorem ipsum dolor sit amet,patlsad
          <br> adipiscing elit, Nutla non congue sapien<br>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp tempus adio donec in</p>
      </div>
      <div class="card ">
        <img src="../styles/assets/extraordinary_instagram_heart_icon_Full_HD_PNG-1024x901.jpg ">
        <h3>Quality Code</h3>
        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Lorem ipsum dolor sit amet,patlsad
          <br> adipiscing elit, Nutla non congue sapien<br>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp tempus adio donec in</p>
      </div>
      <div class="card ">
        <img src="../styles/assets/gear-47203_960_720.webp">
        <h3>Great Support</h3>
        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Lorem ipsum dolor sit amet,patlsad
          <br> adipiscing elit, Nutla non congue sapien<br>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp tempus adio donec in</p>
      </div>
    </div>
  </div>
  <div id='footer'>
    <div class="container">
      <div class='cont-foot'>
        <h1 class='abc' style="font-size: 30px; width: 100%;">RECENT WORKS</h1>
        <p>&nbsp&nbsp&nbsp Lorem ipsum dolor sit amet, consectetur adispitating elit,Nutla
          <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          ad non congue sapien, in tempus odio</p>
        <ul class="nav">
          <li><a>all</a></li>
          <li><a >web</a></li>
          <li><a >mobile</a></li>
          <li><a >design</a></li>
          <li><a >photography</a></li>
          <li><a >type</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div>
  