<div class="container">
    <div class="container-login" style="background-image: url('../styles/assets/bg.jpg');">
        <div class="wrap-login">
            <form class=" login-form" name="myForm">
                <span class="title">
                    Login
                </span>

                <div class="wrap">
                    <span class="label-input">Email Address</span>
                    <input class="input" type="email" name="input" placeholder="Type your email address"
                        ng-pattern="emailFormat" ng-model="email" required>
                    <span style="color: red;" ng-show="myForm.input.$error.required">
                        Required!
                    </span>
                    <!-- <span style="color:Red" ng-show="myForm.input.$dirty&&myForm.input.$error.pattern">Only Numbers Allowed, Maximum 5 Characters</span> -->
                    <span ng-show="myForm.input.$error.email">
                        Not a valid email!
                    </span>
                </div>
                <div class="wrap">
                    <span class="label-input">Password</span>
                    <input class="input" type="password" name="pass" placeholder="Type your password"
                        ng-pattern="passFormat" ng-model="password" required>
                    <span style="color:red" ng-show="myForm.pass.$error.required">Required!</span>
                    <span style="color: green" ng-show="myForm.pass.$valid">Yas</span>
                </div>
                <div style="color:orange" ng-show="!myForm.pass.$valid">Password should be at least 8 characters
                    long and should contain one number,one character and one special
                    character</div>
                <div class="text-right f-pass">
                    <a href="#">
                        Forgot password?
                    </a>
                </div>
                <div class="container-btn">
                    <div class="wrap-btn">
                        <div class="login-bgbtn"></div>
                        <button class="login-form-btn" ng-click="loginUser()">
                            Login
                        </button> 
                    </div>
                    <span class="text-danger" style="color:red">{{ error }}</span>
                </div>
                <div class="txt1 text-center ">
                    <span>
                        Or Sign Up Using
                    </span>
                </div>
                <div class="flex-c-m">
                    <a href="#" class="login-social-item bg1">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#" class="login-social-item bg2">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#" class="login-social-item bg3">
                        <i class="fa fa-google"></i>
                    </a>
                </div>

                <div class="flex-col-c " style="padding-top: 155px;">
                    <span class="txt1 ">
                        Or Sign Up Using
                    </span>

                    <a href="#" class="txt2">
                        Sign Up
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>