<div>
  <div id="header">
    <div class="container">
      <div>
        <h3 class="logo">Coloristic</h3>
      </div>
      <ul class="nav">
        <li><a ui-sref="home">Home</a></li>
        <li><a ui-sref="userDetails">User-Info</a></li>
        <li><a ui-sref="productDetails">Products</a></li>
        <li><a ui-sref="AddRemProd">Cart</a></li>
        <li><a>Contact</a></li>
        <li><a ui-sref="login">Signout</a></li>
      </ul>
    </div>
  </div>

  <div class="wrapper">
    <div class="left">
        <img src="https://i.imgur.com/cMy8V5j.png" alt="user" width="100">
        <h4>{{data.Username}}</h4>
         <p>UI Developer</p>
    </div>
    <div class="right">
        <div class="info">
            <h3>Information</h3>
            <div class="info_data">
                 <div class="data">
                    <h4>Email</h4>
                    <p>{{data.Email}}</p>
                 </div>
                 <div class="data">
                   <h4>Username</h4>
                    <p>{{data.Username}}</p>
              </div>
            </div>
        </div>
      
      <div class="info">
            <h3>Projects</h3>
            <div class="info_data">
                 <div class="data">
                    <h4>Phone</h4>
                    <p>{{data.Contact}}</p>
                 </div>
                 <div class="data">
                   <h4>Total products in cart</h4>
                    <p>{{CartVal}}</p>
              </div>
            </div>
        </div>
      
        <div class="social_media">
            <ul>
              <li><a ><i class="fa fa-facebook-f"></i></a></li>
              <li><a ><i class="fa fa-twitter"></i></a></li>
              <li><a ><i class="fa fa-instagram"></i></a></li>
          </ul>
      </div>
    </div>
</div>

  <div id="footer">
    <div class="container">
      <div class="cont-foot">
        <h1 class="abc" style="font-size: 30px; width: 100%;">RECENT WORKS</h1>
        <ul class="nav">
          <li><a>all</a></li>
          <li><a>web</a></li>
          <li><a>mobile</a></li>
          <li><a>design</a></li>
          <li><a>photography</a></li>
          <li><a>type</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
