<div>
  <div id="header">
    <div class="container">
      <div>
        <h3 class="logo">Coloristic</h3>
      </div>
      <ul class="nav">
        <li><a ui-sref="home">Home</a></li>
        <li><a ui-sref="userDetails">User-Info</a></li>
        <li><a ui-sref="productDetails">Products</a></li>
        <li><a ui-sref="AddRemProd">Cart</a></li>
        <li><a>Contact</a></li>
        <li><a ui-sref="login">Signout</a></li>
      </ul>
    </div>
  </div>

  <div class="containerr">
    <h1>Dan Englishby</h1>
    <h3>Personal Profile</h3>
    <a href="https://imgbb.com/"><img src="https://i.ibb.co/pdJfzx9/profile-picture.jpg" alt="profile-picture" border="0" /></a>
    <h4>About Me</h4>
    <p>Hi, I'm Dan Englishby, I have a huge passion for web-development and programming. I love to learn and thrive from challenges.</p>
    <h4>My Skills</h4>
    <div class="listFlex">
       <div>
          <ul>
             <li>PHP</li>
             <li>HTML</li>
             <li>CSS</li>
          </ul>
       </div>
       <div>
          <ul>
             <li>JavaScript</li>
             <li>JQuery</li>
             <li>C#</li>
          </ul>
       </div>
    </div>
    <h4>Social Media</h4>
    Catch me on Twitter - <a href="https://twitter.com/DanEnglishby">@DanEnglishby</a>
 </div>
 <div id='footer'>
    <div class="container">
      <div class='cont-foot'>
        <h1 class='abc' style="font-size: 30px;width: 100%;">RECENT WORKS</h1>
        <ul class="nav">
          <li><a >all</a></li>
          <li><a >web</a></li>
          <li><a >mobile</a></li>
          <li><a>design</a></li>
          <li><a >photography</a></li>
          <li><a >type</a></li>
        </ul>
      </div>
    </div>
  </div>
  </div>
